<div class="card-container  {{cardClass}}">
    <div class="main-card d-flex flex-column h-100 ">
        <div class="img-box"
            style="   background:url(../../src/spa-assets/img/{{imgName}}) no-repeat; background-size: cover; background-position: center;">
            <img style="opacity:0" src="spa-assets/img/{{imgName}}">
            <div class="card-label {{labelClass}}">{{label}}</div>
            {% if rebateNum %}
            <div class="card-label label-rebate">{{rebateNum}}% Rebate</div>
            {%endif%}
        </div>

        <div class="text-box h-100 {{textBoxClass}}">
            {% if categoryOne %}
            <div class="category-txt d-flex">
                <p class="mb-1 {% if catClassOne %}{{catClassOne}}{%endif%}">{{categoryOne}}</p>
                {% if categoryTwo %}
                <p class="mb-1 ml-1 mr-1 color-primary-blue">|</p>
                <p class="mb-1 {% if catClassTwo %}{{catClassTwo}}{%endif%}">{{categoryTwo}}</p>
                {% endif %}
            </div>
            {% endif %}
            <h2 class="title mb-2 mb-md-2">{{title}}</h2>


            {% for item in cardList %}
            <div class="d-flex">
                {% if item.tickMark %}
                <span class="mr-2">
                    <svg class="icon icon-s tick-mark">
                        <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                            href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                    </svg>
                </span>
                {% endif %}

                <p class="desc {% if descClass %}{{descClass}}{%endif%}"> {{item.desc}} </p>
            </div>

            {% endfor %}


            {% if  btnView %}
            <div class="btn-view d-flex align-items-center">
                <div class="icon-wrapper align-items-center d-flex  justify-content-center align-items-center mr-2">
                    {% include "icon.twig" with { iconName: 'left-arrow' } %}
                </div>
                <p class="mb-0 font-weight-bold color-primary-blue">
                    View More
                </p>
            </div>
            {% endif %}

        </div>



    </div>



    {% if  btnCTA %}
    <div class="text-center pt-4 mt-2">
        <a href="#" role="button" class="btn btn-default btn-primary btn-l">{{btnCTA}}</a>
    </div>
    {% endif %}

</div>