{% verbatim %}
<div id="summaryPanelBigContainer" class="summaryPanelBigContainer">

	<div id="summaryHeaderFake" class="header section-header bg-p2 py-lg-4 summaryHeaderFake d-lg-none" 
		@click.prevent="toggleExpand" v-if="isExpanded != true" v-bind:class="{'has-totalFake': currStepNum > 2 && currStepNum < 4, 'non-stick-mobile': currStepNum > 3}">
		<div class="inner-container">
			<div class="section-title">
				<h2 class="w mb-0">{{ currStepNum === '5' ? 'Order ' : '' }}Summary</h2>
				<div class="btn-toggle">
					<svg class="icon icon-m w">
						<use href="/spa-assets/icons/icons.svg#sprite-chevron"></use>
					</svg>
				</div>
				<div class="sub-header">
					<p class="bt1 w mb-0"><strong>Total Amount Payable</strong></p>
					<p class="price w mb-0">RM {{ formatAsCurrency(formData['3'].totalPayable) }}</p>
				</div>
			</div>
		</div>
	</div>

	<div :class="{ 'summary-pane': true, 'is-expanded': isExpanded, 'has-total': currStepNum > 2 && currStepNum < 4, 'non-stick-mobile': currStepNum > 3 }">
		<div class="header section-header bg-p2 py-lg-4" @click.prevent="toggleExpand">
			<div class="inner-container">
				<div class="section-title">
					<h2 class="w mb-0">{{ currStepNum === '5' ? 'Order ' : '' }}Summary</h2>
					<div class="btn-toggle">
						<svg class="icon icon-m w">
							<use href="/spa-assets/icons/icons.svg#sprite-chevron"></use>
						</svg>
						<span class="title">Toggle Summary</span>
					</div>
				</div>
				<!--
				<div class="sub-header" v-if="currStepNum >= 2 && currStepNum < 4">
					<p class="bt1 w mb-0"><strong>Total Amount Payable</strong></p>
					<p class="price w mb-0"  v-if="formData['2'].planSelected">RM {{formData['2'].totalPayable}}</p>
				</div>
				-->
			</div>
		</div>
		<div class="body bg-w py-3 px-2" >
			<div class="px-2 pt-2" v-if="currStepNum !== '5'">
				<p class="bt2 mb-1 font-weight-bold">Coverage</p>
				<table>
					<tr>
						<td width="65px">Period <span class="float-right pr-1"> :
							</span></td>
						<td v-if="formData['2'].dateSelected"> {{policyStartDate}} - {{policyEndDate}} </td>
					</tr>
						<tr> <td><td  v-if="formData['2'].dateSelected">(1 Year)</td> </td></tr>
						<tr>
							<td>Plan <span class="float-right pr-1"> : </span></td>
							<td>{{formData['2'].planName}}</td>
						</tr>			
					
				</table>
				<template v-if="currStepNum >= 2">
					<div class="divider my-3"></div>
					<p class="text-right bt1 mb-1">RM</p>
				</template>
			</div>

			<div class="bg-p2c px-2 py-2 breakdown-pane mb-3">
				<div class="d-flex justify-content-between">
					<p class="bt2 mb-0">Basic Premium</p>
					<p class="bt2 mb-0" v-if="formData['2'].planSelected">{{formData['2'].basePremium}}</p>
				</div>
			</div>
			<div class="bg-p2c px-2 py-2 breakdown-pane">
				<div class="d-flex justify-content-between">
					<p class="bt2 mb-0">Gross Premium</p>
					<p class="bt2 mb-0" v-if="formData['2'].planSelected">{{formData['2'].basePremium}}</p>
				</div>
				<div class="d-flex justify-content-between ">
					<p class="bt2 mb-0">Rebate ({{formData['2'].discountRate}}%)</p>
					<p class="bt2 mb-0" v-if="formData['2'].planSelected">({{formData['2'].discountAmount}})</p>
				</div>
				<div class="divider my-2"></div>
				<div class="d-flex justify-content-between">
					<p class="bt2 mb-0"><strong>Subtotal</strong></p>
					<p class="bt2 mb-0"><strong>{{formData['2'].subTotal}}</strong></p>
				</div>
				<div class="d-flex justify-content-between">
					<p class="bt2 mb-0">Service Tax ({{formData['2'].serviceTaxRate}}%)</p>
					<p class="bt2 mb-0">{{formData['2'].serviceTax}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p class="bt2 mb-0">Stamp Duty</p>
					<p class="bt2 mb-0" v-if="formData['2'].planSelected">{{formData['2'].stampDuty}}</p>
				</div>
			</div>

		</div>
			<div class="footer section-header bg-p2 py-md-4 px-4 d-flex justify-content-between align-items-center" v-if="currStepNum >= 2">
				<p class="bt1 w mb-0"><strong>Total Amount Payable</strong></p>
				<p class="h2 w mb-0" v-if="formData['2'].planSelected" >RM {{formData['2'].totalPayable}}</p>

			</div>
		
	</div>
</div>
{% endverbatim %}